@import url("theme.css");

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary-bg);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
